<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		 http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

	<import resource="../hibernate-xmls/hibernate.xml" />

	<bean id="userDao" name="userDao"
		class="our.company.name.loan.dao.implementation.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="newUserDao" name="newUserDao"
		class="our.company.name.loan.dao.implementation.NewUserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="emailDao" ref="emailDao"></property>
	</bean>

	<bean id="emailDao" name="emailDao"
		class="our.company.name.loan.dao.implementation.EmailDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="mailSender" ref="mailSender"></property>
		<property name="mailMessage" ref="mailMessage" />
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="smtp.gmail.com" />
		<property name="port" value="587" />
		<property name="username" value="rajurkaradii@gmail.com" />
		<property name="password" value="D0n0tQu!t" />
		<property name="javaMailProperties">
			<props>
				<!-- this is important, otherwise you will get the exception: 530 5.7.0 
					Must issue a STARTTLS command -->
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
			</props>
		</property>
	</bean>

	<bean id="mailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from" value="donot-reply@ourunregisteredcompany.com" />
	</bean>

	<bean id="residenceTypeDao" name="residenceTypeDao"
		class="our.company.name.loan.dao.implementation.ResidenceTypeDaoImpl">
		<constructor-arg  name="sessionFactory" ref="sessionFactory"/>			
	</bean>

	<bean id="repayModeDao" name="repayModeDao"
		class="our.company.name.loan.dao.implementation.RepayModeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="vehicleDetailsDao" name="vehicleDetailsDao"
		class="our.company.name.loan.dao.implementation.VehicleDetailsDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="masterDataDao" name="masterDataDao"
		class="our.company.name.loan.dao.implementation.MasterDataDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="residenceTypeDao" ref="residenceTypeDao"></property>
		<property name="vehicleDetailsDao" ref="vehicleDetailsDao"></property>
		<property name="repayModeDao" ref="repayModeDao"></property>
	</bean>

</beans>

